<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/static/images/Logo de World Phone.jpeg" type="image/x-icon">
    <meta name="description" content="Descubre la mejor experiencia de compra en línea para celulares. Agrega tus dispositivos favoritos al carrito y disfruta de ofertas exclusivas.">
    <title>World Phone</title>
    <link rel="stylesheet" href="https://r.mobirisesite.com/740707/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1727588680841">
    <link rel="stylesheet" href="https://r.mobirisesite.com/740707/assets/bootstrap/css/bootstrap.min.css?rnd=1727588680841">
    <link rel="stylesheet" href="https://r.mobirisesite.com/740707/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1727588680841">
    <link rel="stylesheet" href="https://r.mobirisesite.com/740707/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1727588680841">
    <link rel="stylesheet" href="https://r.mobirisesite.com/740707/assets/parallax/jarallax.css?rnd=1727588680841">
    <link rel="stylesheet" href="https://r.mobirisesite.com/740707/assets/dropdown/css/style.css?rnd=1727588680841">
    <link rel="stylesheet" href="https://r.mobirisesite.com/740707/assets/socicon/css/styles.css?rnd=1727588680841">
    <link rel="stylesheet" href="https://r.mobirisesite.com/740707/assets/theme/css/style.css?rnd=1727588680841">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap"></noscript>
    <link rel="stylesheet" href="https://r.mobirisesite.com/740707/assets/css/mbr-additional.css?rnd=1727588680841" type="text/css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

    <section data-bs-version="5.1" class="menu menu2 cid-s48OLK6784" once="menu" id="menu2-1">

        <div class="container-fluid" >
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>IPHONE</strong>
                        </h4>
                        
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="static/images/Iphone.jpeg" alt="World Phone">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 16</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$999</h6>
                            <p class="mbr-text mbr-fonts-style display-7">El rey de los smartphones, elegante y poderoso. ¡No te quedes sin el tuyo!</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="static/images/SamsumgS24.jpeg" alt="World Phone">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 15 Pro Max</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$899</h6>
                            <p class="mbr-text mbr-fonts-style display-7">La bestia de la fotografía, captura el mundo como nunca antes.</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="{{url_for('carrito')}}" class="btn item-btn btn-primary display-7">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="static/images/Google.jpeg" alt="World Phone">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 15 Pro</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$799</h6>
                            <p class="mbr-text mbr-fonts-style display-7">Inteligencia artificial en tu bolsillo, ¡haz que tu vida sea más fácil!</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="/static/images/OnePlus.jpeg">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 15 mini</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$699</h6>
                            <p class="mbr-text mbr-fonts-style display-7">Velocidad y rendimiento, para los que no se conforman con menos.</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="static/images/Xiaomi.jpeg">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 14 Pro Max</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$599</h6>
                            <p class="mbr-text mbr-fonts-style display-7">Calidad premium a un precio que no te hará llorar.</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="static/images/Sony.jpeg" alt="World Phone">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 14 Pro</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$1099</h6>
                            <p class="mbr-text mbr-fonts-style display-7">Para los amantes del cine, ¡lleva el cine en tu bolsillo!</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div class="row">
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="static/images/Iphone.jpeg" alt="World Phone">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 14</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$999</h6>
                            <p class="mbr-text mbr-fonts-style display-7">El rey de los smartphones, elegante y poderoso. ¡No te quedes sin el tuyo!</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="static/images/SamsumgS24.jpeg" alt="World Phone">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 14 Mini</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$899</h6>
                            <p class="mbr-text mbr-fonts-style display-7">La bestia de la fotografía, captura el mundo como nunca antes.</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="{{url_for('carrito')}}" class="btn item-btn btn-primary display-7">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="static/images/Google.jpeg" alt="World Phone">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 13 Pro Max</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$799</h6>
                            <p class="mbr-text mbr-fonts-style display-7">Inteligencia artificial en tu bolsillo, ¡haz que tu vida sea más fácil!</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="/static/images/OnePlus.jpeg">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 13 Pro</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$699</h6>
                            <p class="mbr-text mbr-fonts-style display-7">Velocidad y rendimiento, para los que no se conforman con menos.</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn btn-primary display-7 ">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="static/images/Xiaomi.jpeg">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 13</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$599</h6>
                            <p class="mbr-text mbr-fonts-style display-7">Calidad premium a un precio que no te hará llorar.</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-outline-success display-7">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="static/images/Sony.jpeg" alt="World Phone">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5">
                                <strong>iPhone 13 Mini</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style display-7">$1099</h6>
                            <p class="mbr-text mbr-fonts-style display-7">Para los amantes del cine, ¡lleva el cine en tu bolsillo!</p>
                            <div class="mbr-section-btn item-footer">
                                <a href="" class="btn item-btn btn-primary display-7">Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
</body>
</html>